.header {
  padding: 20px 10px;
  background-color: rgb(153, 247, 119);
  outline: rgb(153, 247, 119);
}
.linkTo {
  margin-left: 80px;
  color: rgb(19, 65, 3);
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  &:hover {
    color: rgb(80, 109, 235);
    text-decoration: underline;
  }
}
